{% extends 'base.html.twig' %}

{% block pageTitle %}
    Data gathering about {{ observation.student.studentId }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('homepage') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('measure_list') }}">Measures</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ observation.name }}</span>
    </li>
{% endblock %}

{% block main %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container-fluid">
        <!--Card-->
        <div class="card m-12">

            <!--Card content-->
            <div class="card-body form">
                <!--Title-->
                <h1 class="display-4 text-center">Observation: {{ observation.name }}</h1>
                <!--Title-->

                {{ form_start(form) }}

                {% for key, field in form.children %}
                    {% if key != 'submit' %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(field) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="col-sm-10">{{ form_row(form.submit) }}</div>
                {{ form_end(form) }}


                <!--
                <div class="row">
                    <select class="browser-default custom-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                -->

            </div>

        </div>
        <!--/.Card-->
    </div>


{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/addons-pro/mdb.min.css') }} >
    <link href="{{ asset('theme/assets/global/css/components.min.css') }}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{{ asset('theme/assets/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/meter.css') }}">
    <link rel="stylesheet" href="{{ asset('theme/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css') }}">
    <link rel="stylesheet"
          href="{{ asset('theme/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css') }}">

    <style>

        .form-control {
            display: block !important;

        }

        .behavioral-recording-progress-bar {
            width: 100%;
            margin: 10px auto;
            height: 22px;
            background-color: darkgray;
        }

        .behavioral-recording-progress-bar div {
            height: 100%;
            text-align: right;
            padding: 0;
            line-height: 22px;
            width: 0;
            background-color: cornflowerblue;
            box-sizing: border-box;
        }

        .progress {
            background-color: lightgray;
        }

        .md-form {
            position: static !important;
        }

        .red-button, .red-button:hover, .red-button:visited, .red-button:link, .red-button:active {
            background-color: darkred !important;
            color: #ffffff !important;
        }

        .control-label .required, .form-group .required {
            text-align: right;
            margin-bottom: 0;
            padding-top: 7px;
            color: #333;
            font-size: 14px;
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        audioPath = '{{ asset('sounds/171756__nenadsimic__picked-coin-echo-2.wav') }}';
    </script>

    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/behavioral-recording-tools.js') }}"></script>
    <script src="{{ asset('theme/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('.form').behavioralRecordingTool();

            $('input[type="range"]').each(function (i, e) {
                $(e).ionRangeSlider({
                    min: $(e).attr('min'),
                    max: $(e).attr('max'),
                    from: $(e).attr('min'),
                    step: $(e).attr('step')
                });
            });

        });

        $('.square').on('click', function (e) {

            $('.square').each(function () {
                $(this).css('background-color', 'transparent');
            });

            $(this).css('background-color', 'greenyellow');

            $("input[name*='xValue']").val($(this).attr('data-row'));
            $("input[name*='yValue']").val($(this).attr('data-column'));
        });
    </script>
{% endblock %}
