{% extends 'base.html.twig' %}

{% block title %}Rewards{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/style.css') }} >

{% endblock %}

{% block body %}
{# sistema grafica dei premi inseriti#}
    <h1>Rewards</h1>

    <div class="card-group">
    {% for reward in rewards|slice(17,5) %}
        <div class="card mb-4">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"> {{ reward.name }}</h4>
                <!-- Text -->
                <p class="card-text">{{ reward.value }}</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" id="ciao" class="btn btn-primary btn-md">Assign the prize!</button>

            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

      {#      <div class="row">
                <div class="col">

                </div>
                 <div class="col">
                 {{ reward.value }}
                 </div>
            </div>
            #}
{% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>


        $(document).ready( function() {
            $('#ciao').on('click', function() {
              alert();
            });
        });

    </script>

{% endblock %}