{% extends 'base.html.twig' %}
{% block title %}Administrator{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >

{% endblock %}


{% block main %}
    <div class="container-fluid">

        <!--Section: Analytical panel-->
        <section class="mb-5">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Section: Chart-->
                <section>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-12 mr-0">

                            <!--Card image-->
                            <div class="view view-cascade gradient-card-header primary-color">
                                <h4 class="h4-responsive mb-0 font-weight-bold">Personal page</h4>
                            </div>
                            <!--/Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade pb-0">

                                <h3><b>{{  admin.firstName }} {{  admin.lastName }}</b></h3><br>
                                <div class="row">
                                    <div class="col-4">
                                        <b>Administrator Data</b><br>
                                        {{  admin.personalMail }}
                                    </div>
                                    <div class="col-4">

                                    </div>
                                    <div class="col-4">
                                        <b>School Data</b><br>
                                        {{ admin.school.name }}<br>
                                        {{ admin.school.address }}<br>
                                        {{ admin.school.phoneNumber }}<br>
                                        {{ admin.school.email }}<br>
                                    </div>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--Grid column-->


                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Chart-->

            </div>
            <!--/.Card-->

        </section>
        <!--Section: Analytical panel-->


    </div>
{% endblock %}



{% block javascripts %}
    {{ parent () }}
    <script>

    </script>
{% endblock %}