{% extends 'base.html.twig' %}

{% block title %}Rewards{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >

{% endblock %}

{% block main %}


 <div class="container-fluid">

        <!--Section: Inputs-->
        <section class="section card mb-5">

            <div class="card-body">

                <!--Section heading-->
                <h1 class="text-center my-5 h1">Rewards Menu</h1>

    <h2 class="pb-5"></h2>

    {{ form_start(form) }}

<h4>In this section you can add a list of rewards and their corrisponding values.</h4>
    <i><b>Examples:</b>


    <div class="row">
        <div class="col">
            <ul>
                <li>Favourite sweet</li>
                <li>Favourite dish</li>
                <li>Favourite snack</li>
                <li>Small toy</li>
                <li>Sports equipment</li>
                <li>CD/DVD</li>
                <li>Rent a movie</li>
                <li>Bedroom stuff</li>
                <li>Attention and affection</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Verbal lodes</li>
                <li>Tv Programs</li>
                <li>Quality time</li>
                <li>Invite a friend home</li>
                <li>Going to the movie or luna park </li>
                <li>Watch a game or a sport event </li>
                <li>Going to a trip </li>
                <li>Going visit a friend</li>
                <li>Stay overnight to a friend's or a parent's house</li>
            </ul>
        </div>
    </div>

    </i>
   {{ form_row (form.name) }}

    {{ form_row (form.value) }}


        <div class="col-sm-10">{{ form_row(form.submit)}}</div>
        <div class="col-sm-10">{{ form_row(form.submitAndAdd)}}</div>



            </div>
        </section>
 </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>


        $(document).ready( function() {

            });

    </script>

{% endblock %}