{% extends 'base.html.twig' %}

{% block title %}CICO Graph{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/style.css') }} >

{% endblock %}

{% block main %}
    {{ dump(cico.calculatePoints) }}
    {{ dump(cico.student.points) }}
    <div class="container-fluid">

        <!--Section: Analytical panel-->
        <section class="mb-5">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Section: Chart-->
                <section>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-12 mr-0">

                            <!--Card image-->
                            <div class="view view-cascade gradient-card-header primary-color">
                                <h4 class="h4-responsive mb-0 font-weight-bold">CICO</h4>
                            </div>
                            <!--/Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade pb-0 text-center">


<div class="row">
    <div class="col"><h2>Student: {{ cico.student.code }} </h2></div>
    <div class="col"><h2>Earned Points:</h2><i>{{ cico.calculatePoints }}</i></div>
</div>
    {% set foo = [] %}
    {% for session in cico.sessions %} {% set foo =  foo|merge([session.total]) %} {% endfor %}

   <div id="maxElem" style="display:none" >{{ max(foo) }}</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <canvas id="lineChart"></canvas>
    </div>
    <div class="col-md-1"></div>

</div>
                            <!--/.Card content-->

                        </div>
                        <!--Grid column-->


                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Chart-->

            </div>
            <!--/.Card-->

        </section>
        <!--Section: Analytical panel-->


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
        var rows;
        $(document).ready( function() {


            propDim= parseInt($('#maxElem').text());

            //line


            var ctxL = document.getElementById("lineChart").getContext('2d');
            var myLineChart = new Chart(ctxL, {
                type: 'line',
                data: {
                    labels: [{% for session in cico.sessions %}"{{ session.fillInDate | date('Y-m-d') }}"{% if loop.index != cico.sessions | length %},{% endif %}{% endfor %}],
                    //labels: ["2018-09-21", "2018-09-21", "2018-09-21"],
                    datasets: [
                        {
                            label: "Line Goal",
                            fillColor: "5d51ff",
                            strokeColor: "5d51ff",
                            pointColor: "5d51ff",
                            pointStrokeColor: "#0d0d0d",
                            pointHighlightFill: "#0d0d0d",
                            pointHighlightStroke: "5d51ff",
                            data: [{% for session in cico.sessions %}"{{ cico.threshold }}"{% if loop.index != cico.sessions | length %},{% endif %}{% endfor %}],
                            backgroundColor: [
                                'rgba(105, 0, 132, 0)'
                            ],
                            borderColor: [
                                'rgba(200, 99, 132, .7)'
                            ],
                            borderWidth: 7
                        },
                        {
                            label: "Day Total",
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#5d51ff",
                            pointHighlightFill: "#ff3da3",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            data: [{% for session in cico.sessions %}"{{ session.total }}"{% if loop.index != cico.sessions | length %},{% endif %}{% endfor %}],
                            backgroundColor: [
                                'rgba(0, 137, 132, .2)'
                            ],
                            borderColor: [
                                'rgba(0, 10, 130, .7)'],
                        }
                    ]
                },
                options: {
                    responsive: true,
                    legend: {
                        labels: {
                            fontColor: "#0d0d0d",
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: true,
                                color: "#c7c8c6"
                            },
                            ticks: {
                                fontColor: "#71beee",
                            },
                        }],
                        yAxes: [{
                            display: true,
                            gridLines: {
                                display: true,
                                color: "#c7c8c6"
                            },
                            ticks: {
                                fontColor: "#71beee",
                                beginAtZero:true,
                                max: (propDim*2),
                            },
                        }],
                    }
                }
            });


});
       // ciao= parseInt($('#goal').text());



    </script>

{% endblock %}