{% extends 'base.html.twig' %}
{% block title %}Student{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/style.css') }} >

{% endblock %}


{% block body %}
    <h1>Thank you for your subscription, you'll receive a mail with your Personal School Code soon!</h1>

{% endblock %}


{% block javascripts %}
    {{ parent () }}
    <script>

    </script>
{% endblock %}