{% extends 'base.html.twig' %}

{% block title %}Access Data Generator{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/style.css') }} >

{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <h4><b>Insert the number of pairs of codes to generate:</b></h4>
    </div>
    <div class="row">
    {{ form_row(form.numberOfCodes) }}
    </div>
    <div class="row">
    {{ form_row(form.submit) }}
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    <div class="row">
    <button id="showButton" class="btn purple-gradient">Show Codes</button>
    </div>


<div id="codes">
    {% for i in  studentdata %}
        <div class="row">
            <div class="col">
                <h4>Student</h4>
                {{ i.code}}
                {{ i.nickname }}
            </div>
            <div class="col">
                <img src="{{ i.qrCode}}">
            </div>
            <div class="col">
                <h4>Person In Charge</h4>
            </div>
            <div class="col">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent () }}
    <script>
        $(document).ready( function() {

        $("#showButton").on('click', function()
        {

            $("#codes").toggle();
            $(this).text(function(i, text){
                return text === "Show Codes" ? "Hide Codes" : "Show Codes";
            })        })
        });


    </script>

{% endblock %}