{% extends 'base.html.twig' %}

{% block title %}Access Data Generated{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >

{% endblock %}

{% block main %}

    <div id="DivIdToPrint" class="container-fluid ">

        <!--Section: Analytical panel-->
        <section class="mb-5">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Section: Chart-->
                <section>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-12 mr-0">

                            <!--Card image-->
                            <div class="view view-cascade gradient-card-header primary-color">
                                <h4 class="h4-responsive mb-0 font-weight-bold">List of Generated Codes</h4>
                            </div>
                            <!--/Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade pb-0">

    {% for i in  studentdata %}
        <div class="row">
            <div class="col">
                <h4>Student</h4>
            {{ i.code}}
            {{ i.nickname }}

            </div>
            <div class="col">
    <img src="{{ i.qrCode}}">
            </div>
            <div class="col">
                <h4>Person In Charge</h4>
                {{ i.personInCharge.code }}
            </div>
            <div class="col">
                <img src="{{ i.personInCharge.qrCode }}">

            </div>
        </div>
    {% endfor %}
<div class="text-right">
<a href=""><button onclick="printDiv()" type="button" class="btn btn-primary btn-sm">Print Codes</button></a>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--Grid column-->


                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Chart-->

            </div>
            <!--/.Card-->

        </section>
        <!--Section: Analytical panel-->


    </div>
        {% endblock %}
{% block javascripts %}
    {{ parent () }}
    <script>

        function printDiv()
        {

            var divToPrint=document.getElementById('DivIdToPrint');

            var newWin=window.open('','Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

            newWin.document.close();

            setTimeout(function(){newWin.close();},10);

        }


    </script>

{% endblock %}