{% extends 'base.html.twig' %}

{% block title %}Access Data Generated{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/style.css') }} >

{% endblock %}

{% block body %}

    {% for i in  studentdata %}
        <div class="row">
            <div class="col">
                <h4>Student</h4>
            {{ i.code}}
{{ i.nickname }}
            </div>
            <div class="col">
    <img src="{{ i.qrCode}}">
            </div>
            <div class="col">
                <h4>Person In Charge</h4>
            </div>
            <div class="col">
            </div>
        </div>
    {% endfor %}

    {% for j in  personincharge %}
        {{ j.code}}
        <img src="{{ j.qrCode}}">

    {% endfor %}

        {% endblock %}
{% block javascripts %}
    {{ parent () }}
    <script>
        $(document).ready( function() {



    </script>

{% endblock %}