{% extends 'base.html.twig' %}
{% block title %}User{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >

    <style>#profilePicture  {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;


        }</style>
{% endblock %}


{% block main %}
      <div class="container-fluid">

        <!--Section: Analytical panel-->
        <section class="mb-5">

            <!--Card-->
            <div class="card card-cascade narrower" style="padding-bottom: 25px" >

                <!--Section: Chart-->
                <section>

                    <!--Grid row-->
                    <div class="row" style="padding-left: 0px !important;">

                        <!--Grid column-->
                        <div class="col-12 mr-0">

                            <!--Card image-->
                            <div class="view view-cascade gradient-card-header primary-color" >
                                <h4 class="h4-responsive mb-0 font-weight-bold"><b>{{  user.username }}</b>'s User Page</h4>
                            </div>
                            <!--/Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade pb-0">



<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <br>
        <div align="center">
        <b>Name: </b> {{ user.name }}<br>
        <b>Email: </b> {{ user.email }}
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

                                <div class="row">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">
                                        <br>
                                        <div align="center">
                                            <img id="profilePicture" src="{{ user.picture  }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>

    </div>
    <div class="row">
    {# dump(app.user)#}
    </div>


                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--Grid column-->


            <!--Grid row-->

        </section>
          <!--Section: Chart-->
      </div>
    <!--/.Card-->

    </section>
    <!--Section: Analytical panel-->


    </div>


{% endblock %}



{% block javascripts %}
    {{ parent () }}
    <script>

    </script>
{% endblock %}