{% extends 'base.html.twig' %}

{% block title %}Our Contact Form{% endblock title %}

{% block body %}

    <div class="row">
        {{ form_start(form) }}
        {{ form_row(form.motto)}}
        {{ form_row(form.expectations)}}

        <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
            {% for tag in form.tags %}
                <li> {{ form_row(tag.name) }}
                </li>
            {% endfor %}
        </ul>
        {{ form_row(form.locations)}}
        <ul class="locationTags" data-prototype="{{ form_widget(form.locationTags.vars.prototype)|e('html_attr') }}">
            {% for tag in form.locationTags %}
                <li> {{ form_row(tag.name) }}
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Send" class="btn btn-success" />
        {{ form_end(form, {'render_rest': false}) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent () }}
<script>
    var $collectionHolder;
    var $collectionHolder2;
    var $var;
    var $var2;

    $(document).ready( function() {

        $collectionHolder = $('ul.tags');
        $collectionHolder2 = $('ul.locationTags');

        $var= $('#contact_expectations');
        $var2= $('#contact_locations');

        $collectionHolder.data('index', $collectionHolder.find(':input').length);
        $collectionHolder2.data('index', $collectionHolder2.find(':input').length);

        $var.on('change', function(e) {

           // alert("onchange event");
            //e.preventDefault();
            $('ul.tags li').remove();
            for (var i = 0; i < e.currentTarget.value; i++) {

              addTagForm($collectionHolder);
            }
            // add a new tag form (see next code block)


            }


        );

        $var2.on('change', function(e) {

                // alert("onchange event");
                //e.preventDefault();
                $('ul.locationTags li').remove();
                for (var i = 0; i < e.currentTarget.value; i++) {

                    addTagForm($collectionHolder2);
                }
                // add a new tag form (see next code block)


            }


        );

    });

    function addTagForm($collectionHolder) {

        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        var newFormLi = $('<li></li>').append(newForm);

        $collectionHolder.append(newFormLi);



    }

</script>
{% endblock %}