<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >
    {% block stylesheets %}{% endblock %}

    <style>
        body {
            background-color: #fff;
        }

        .navbar {
            background-color: #6f7782;
        }
        footer.page-footer {
            background-color: #6f7782;
        }

        .form-control {
            border: none;
        }
    </style>

</head>


<body>

<!--Main Navigation-->
<header>

    {{ include('navbar.html.twig') }}

</header>
<!--Main Navigation-->

<!--Main Layout-->
<main>

    <div class="container">
        {% block main %}{% endblock %}
    </div>

</main>
<!--Main Layout-->

<!--Footer-->
<footer class="page-footer pt-0">

    <!--Footer Links-->
    <div class="container">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.3s">

                <div class="text-center d-flex justify-content-center my-4">


                </div>

            </div>
            <!--/First column-->

        </div>
        <!--/First row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <img align="right" src="{{ asset('img/europe.png') }}" class="img-fluid" alt="Responsive image" style="width: 170px">        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/Footer-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
{% block javascripts %}{% endblock %}
<script>
    new WOW().init();
</script>


</body>

</html>