{% extends 'base.html.twig' %}

{% block title %}Some custom title{% endblock title %}

{% block body %}

    <div>
        Hello, {{ person_name }}!

    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}







    {{ form_end(form) }}

    <table id="code" class="display" style="width:100%">  </table>
    <div id="card"></div>
    <button id="myButton" class="float-right submit-button" >Show QR Codes</button>
{% endblock %}

{% block javascripts %}
    {{ parent () }}


    <script>


        jQuery(document).ready(function() {

            $var= $('#code_generator_number_of_codes');
            var cards = [];
            var names = [];


            $var.on('change', function(e) {
                    // prevent the link from creating a "#" on the URL


                document.getElementById("code").innerHTML="<thead>\n" +
                    "            <tr>\n" +
                    "                <th>Code</th>\n" +
                    "                <th>Nickname</th>\n" +
                    "                <th>QR Code</th>\n" +
                    "            </tr>\n" +
                    "        </thead>" +
                    "        <tbody id=\"body\"></tbody>";

                for (var i = 0; i < e.currentTarget.value-1; i++) {
                    var codice = randomString();
                    var name= generateName();
                    cards.push(codice);
                    names.push(name);

                    $('#body').append( "<tr><td>" + codice + "</td> <td>" + name + "</td> <td id='"+i+"' ></td></tr>" );

                    $('#'+i).qrcode({
                        // render method: 'canvas', 'image' or 'div'
                        render: 'canvas',

                        // version range somewhere in 1 .. 40
                        minVersion: 1,
                        maxVersion: 40,

                        // error correction level: 'L', 'M', 'Q' or 'H'
                        ecLevel: 'L',

                        // offset in pixel if drawn onto existing canvas
                        left: 0,
                        top: 0,

                        // size in pixel
                        size: 50,

                        // code color or image element
                        fill: '#000',

                        // background color or image element, null for transparent background
                        background: null,

                        // content
                        text: codice,

                        // corner radius relative to module width: 0.0 .. 0.5
                        radius: 0,

                        // quiet zone in modules
                        quiet: 0,

                        // modes
                        // 0: normal
                        // 1: label strip
                        // 2: label box
                        // 3: image strip
                        // 4: image box
                        mode: 0,

                        mSize: 0.1,
                        mPosX: 0.5,
                        mPosY: 0.5,

                        label: 'no label',
                        fontname: 'sans',
                        fontcolor: '#000',

                        image: null
                    }) ;
                }
                $('#code').append ("<tfoot>\n" +
                    "            <tr>\n" +
                    "                <th>Code</th>\n" +
                    "                <th>Nickname</th>\n" +
                    "                <th>QR Code</th>\n" +
                    "            </tr>\n" +
                    "        </tfoot> ")

                $('#code').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                    ],
                    destroy: true
                } );


                });

            document.getElementById("myButton").onclick = function () {
                $('#code').hide();
                $('#myButton').hide();
                for (var i=0; i!==cards.length; i++) {
                    $('#card').append("<div id='" + cards[i] + "'></div>" );
                    $('#' + cards[i]).qrcode({
                        // render method: 'canvas', 'image' or 'div'
                        render: 'canvas',

                        // version range somewhere in 1 .. 40
                        minVersion: 1,
                        maxVersion: 40,

                        // error correction level: 'L', 'M', 'Q' or 'H'
                        ecLevel: 'L',

                        // offset in pixel if drawn onto existing canvas
                        left: 0,
                        top: 0,

                        // size in pixel
                        size: 200,

                        // code color or image element
                        fill: '#000',

                        // background color or image element, null for transparent background
                        background: null,

                        text: cards[i],
                        radius: 0,
                        quiet: 0,


                        mode: 0,

                        mSize: 0.1,
                        mPosX: 0.5,
                        mPosY: 0.5,

                        label: 'no label',
                        fontname: 'sans',
                        fontcolor: '#000',

                        image: null
                    });
                    $('#' + cards[i]).append(names[i]);

                }
                $('#card').append( "<button id=\"print\" class=\"float-right submit-button\" onclick=\"stampa()\">Print QR Codes</button>")

            };


        });

        function stampa() { print()}



        function randomString() {
            return Math.round((Math.pow(36, 8 + 1) - Math.random() * Math.pow(36, 8))).toString(36).slice(1).toUpperCase();
        }

        function capFirst(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        function generateName(){

           var name1= [
                    "Aardvark",
                    "Albatross",
                    "Alligator",
                    "Alpaca",
                    "Ant",
                    "Anteater",
                    "Antelope",
                    "Ape",
                    "Armadillo",
                    "Donkey",
                    "Baboon",
                    "Badger",
                    "Barracuda",
                    "Bat",
                    "Bear",
                    "Beaver",
                    "Bee",
                    "Bison",
                    "Boar",
                    "Buffalo",
                    "Butterfly",
                    "Camel",
                    "Capybara",
                    "Caribou",
                    "Cassowary",
                    "Cat",
                    "Caterpillar",
                    "Cattle",
                    "Chamois",
                    "Cheetah",
                    "Chicken",
                    "Chimpanzee",
                    "Chinchilla",
                    "Chough",
                    "Clam",
                    "Cobra",
                    "Cockroach",
                    "Cod",
                    "Cormorant",
                    "Coyote",
                    "Crab",
                    "Crane",
                    "Crocodile",
                    "Crow",
                    "Curlew",
                    "Deer",
                    "Dinosaur",
                    "Dog",
                    "Dogfish",
                    "Dolphin",
                    "Dotterel",
                    "Dove",
                    "Dragonfly",
                    "Duck",
                    "Dugong",
                    "Dunlin",
                    "Eagle",
                    "Echidna",
                    "Eel",
                    "Eland",
                    "Elephant",
                    "Elk",
                    "Emu",
                    "Falcon",
                    "Ferret",
                    "Finch",
                    "Fish",
                    "Flamingo",
                    "Fly",
                    "Fox",
                    "Frog",
                    "Gaur",
                    "Gazelle",
                    "Gerbil",
                    "Giraffe",
                    "Gnat",
                    "Gnu",
                    "Goat",
                    "Goldfinch",
                    "Goldfish",
                    "Goose",
                    "Gorilla",
                    "Goshawk",
                    "Grasshopper",
                    "Grouse",
                    "Guanaco",
                    "Gull",
                    "Hamster",
                    "Hare",
                    "Hawk",
                    "Hedgehog",
                    "Heron",
                    "Herring",
                    "Hippopotamus",
                    "Hornet",
                    "Horse",
                    "Human",
                    "Hummingbird",
                    "Hyena",
                    "Ibex",
                    "Ibis",
                    "Jackal",
                    "Jaguar",
                    "Jay",
                    "Jellyfish",
                    "Kangaroo",
                    "Kingfisher",
                    "Koala",
                    "Kookabura",
                    "Kouprey",
                    "Kudu",
                    "Lapwing",
                    "Lark",
                    "Lemur",
                    "Leopard",
                    "Lion",
                    "Llama",
                    "Lobster",
                    "Locust",
                    "Loris",
                    "Louse",
                    "Lyrebird",
                    "Magpie",
                    "Mallard",
                    "Manatee",
                    "Mandrill",
                    "Mantis",
                    "Marten",
                    "Meerkat",
                    "Mink",
                    "Mole",
                    "Mongoose",
                    "Monkey",
                    "Moose",
                    "Mosquito",
                    "Mouse",
                    "Mule",
                    "Narwhal",
                    "Newt",
                    "Nightingale",
                    "Octopus",
                    "Okapi",
                    "Opossum",
                    "Oryx",
                    "Ostrich",
                    "Otter",
                    "Owl",
                    "Oyster",
                    "Panther",
                    "Parrot",
                    "Partridge",
                    "Peafowl",
                    "Pelican",
                    "Penguin",
                    "Pheasant",
                    "Pig",
                    "Pigeon",
                    "Pony",
                    "Porcupine",
                    "Porpoise",
                    "Quail",
                    "Quelea",
                    "Quetzal",
                    "Rabbit",
                    "Raccoon",
                    "Rail",
                    "Ram",
                    "Rat",
                    "Raven",
                    "Red_deer",
                    "Red_panda",
                    "Reindeer",
                    "Rhinoceros",
                    "Rook",
                    "Salamander",
                    "Salmon",
                    "Sand_Dollar",
                    "Sandpiper",
                    "Sardine",
                    "Scorpion",
                    "Seahorse",
                    "Seal",
                    "Shark",
                    "Sheep",
                    "Shrew",
                    "Skunk",
                    "Snail",
                    "Snake",
                    "Sparrow",
                    "Spider",
                    "Spoonbill",
                    "Squid",
                    "Squirrel",
                    "Starling",
                    "Stingray",
                    "Stinkbug",
                    "Stork",
                    "Swallow",
                    "Swan",
                    "Tapir",
                    "Tarsier",
                    "Termite",
                    "Tiger",
                    "Toad",
                    "Trout",
                    "Turkey",
                    "Turtle",
                    "Viper",
                    "Vulture",
                    "Wallaby",
                    "Walrus",
                    "Wasp",
                    "Weasel",
                    "Whale",
                    "Wildcat",
                    "Wolf",
                    "Wolverine",
                    "Wombat",
                    "Woodcock",
                    "Woodpecker",
                    "Worm",
                    "Wren",
                    "Yak",
                    "Zebra"
            ]
            return capFirst(name1[getRandomInt(0, name1.length + 1)]) + getRandomInt(100,999);


        }
    </script>
{% endblock %}