<nav class="navbar navbar-expand-lg navbar-light white">
    <div class="container">
        <a class="navbar-brand" href="{{ path('welcome') }}"><img src="{{ asset('img/base.png') }}" class="img-fluid" alt="Responsive image" style="width: 170px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav ml-auto">
                {% if not app.user %}
                <li class="nav-item text-right ">
                    <a href="{{ path("registration") }}"><button type="button" class="btn btn-secondary btn-sm"><b>School Registration</button></a>
                </li>
                {% endif %}
                {% if app.user %}

                    {% if "ROLE_ADMIN" in app.user.roles %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><b>Administration</b></a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('admin_page') }}">UsersRole</a>
                    </div>

                </li>
                    {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><b>Personal Page</b></a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        {% if ("ROLE_STUDENT" in app.user.roles) %}
                        <a class="dropdown-item" href="{{ path('student_page') }}">User Page</a>
                            {% elseif  ("ROLE_PERSON" in app.user.roles)  %}
                                <a class="dropdown-item" href="{{ path('personincharge_page') }}">User Page</a>
                        {% endif %}

                        {% if "ROLE_0AUTH_USER" in app.user.roles %}
                        <a class="dropdown-item" href="{{ path('user_page') }}">User Page</a>
                        {% endif %}

                        {% if "ROLE_ADMIN" in app.user.roles %}
                            <a class="dropdown-item" href="{{ path('admin_personalpage') }}">Admin Page</a>

                        {% endif %}


                    </div>
                </li>

                {% if "ROLE_0AUTH_USER" in app.user.roles %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><b>School Tools</b></a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"  href="{{ path('all_matrix') }}">Expectation Matrix</a>
                        <a class="dropdown-item" href="{{ path('minorandmajorbehavior_list')}}">Minor and Major</a>
                        <a class="dropdown-item" href="{{ path('rewards_list') }}">Rewards Menu</a>
                    {% if "ROLE_USER_TEACHER_COORDINATOR" in app.user.roles %}
                        <a class="dropdown-item" href="{{ path('generate_access_data', {'id': 1}) }}">Access Data Generator</a>
                    {% endif %}
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><b>Measurement Tools</b></a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('measure_list') }}"><b>Create a custom measure</b></a>
                        <a class="dropdown-item"  href="{{ path('screening_tool', {'id': 1}) }}">Screening Tool</a>
                        <a class="dropdown-item" href="{{ path('cico', {'id': 1}) }}">Create a new Cico</a>
                        <a class="dropdown-item" href="{{ path('all_cicos') }}">All Cico list</a>
                        <a class="dropdown-item" href="{{ path('odr') }}">Office Disciplinary Referral</a>
                        <a class="dropdown-item" href="{{ path('por') }}">Positive Office Referral</a>
                        <a class="dropdown-item" href="{{ path('student_list') }}">Student List</a>
                    </div>
                </li>
                {% endif %}

                {% endif %}
                {% if not app.user %}
                <li class="nav-item">
                    <div class="dropdown">

                        <!--Trigger-->
                        <a class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Login</a>


                        <!--Menu-->
                        <div class="dropdown-menu dropdown-primary">
                            <a class="dropdown-item" href="/connect/auth0">Teacher Login</a>
                            <a class="dropdown-item" href="{{ path("app_login") }}">Code Login</a>

                        </div>
                    </div>
                    <!--/Dropdown primary-->

                </li>

                {% else  %}
                    {% if instanceOf(app.user, 'User') %}
                        {% set logoutPath = 'logout' %}
                    {% else %}
                        {% set logoutPath = 'app_logout' %}
                    {% endif %}
                    <li class="nav-item text-right">
                        <a href="{{ path(logoutPath) }}">
                            <button type="button" class="btn btn-primary btn-sm">Logout</button>
                        </a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>