{% extends 'base.html.twig' %}

{% block title %}CICO{% endblock title %}


{% block main %}
 <div class="container-fluid">

        <!--Section: Inputs-->
        <section class="section card mb-5">

            <div class="card-body">

                <!--Section heading-->
                <h1 class="text-center my-5 h1">CICO</h1>

    <h2 class="pb-5">Studente:</h2>

    <h3>Motto:<i>{{ matrix.motto }}</i> </h3>

   <div class="row">
       <form class="range-field my-4 w-25"><label for="customRange1">Goal percentage</label>
           <input type="range" id="customRange1" value="80" min="0" max="100" />
       </form>
       <div class="col-4 col-sm-4"></div>
       <div id="goals" class="col-4 col-sm-4"><h4>Your Goal is <span id="goal"></span>/<span id="max2"></span></h4></div>

   </div>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                {{ form_widget(form.periodNumber) }}
                {{ form_label(form.periodNumber) }}
            </div>
                {{ form_row(form.threshold) }}
                {{ form_row(form.tmpData) }}
        </div>

    <div id="header" class="d-none"> <div class="row">
    <div class="col-6 col-sm-2"> <h4>Periods</h4> </div>
            {% for expectation in matrix.expectationTags %}
     <div id="expectations" class="col-6 col-sm-2"><h4> {{ expectation.name }} </h4></div>
        {% endfor %}
        <div class="col-6 col-sm-2"> <h4>Total</h4> </div>
        </div>
        </div>
    <div id="tabella"></div>

        <div class="row">
            <div class="col-md-6 mb-6">
            {{ form_widget(form.numberOfThresholds) }}
            {{ form_label(form.numberOfThresholds) }}
            </div>

             <div id="threshold" class="thresholds" data-index="0" data-prototype="{{ form_widget(form.cicoThresholds.vars.prototype)|e('html_attr') }}">
             </div>

            <div id="thresholds2" class="col-md-6 mb-6">
                    {% for threshold in form.cicoThresholds %}
                    {{ form_row(threshold.threshold) }}
                    {{ form_row(threshold.value) }}
                {% endfor %}</div>
        </div>


    <div class="row">

        <div id="success" class="col-6 col-sm-2"></div>


          <div class="col-sm-10">{{ form_row(form.submit)}}</div>

    </div>

            </div>
        </section>
 </div>

    <div id="colonna"></div>
    {{ form_row(form._token) }}
  {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
    var rows;
    var $collectionHolder;

    $(document).ready( function() {
        $('.mdb-select').material_select();

            $var= $('#cico_periodNumber');
            $var2= $('#cico_numberOfThresholds');
           // $var3= $('#range');
            $exp = document.getElementById("expectations");

            $collectionHolder = $('.thresholds');
            console.log($collectionHolder);


           // $('#range').append($('#customRange1').val());


        $var.on('change', function(e) {
                    // alert("onchange event");
            $totale_massimo=3*expectations.length*e.currentTarget.value;



            $percentage= parseInt($('#customRange1').val());



            $goal = Math.round(($totale_massimo*$percentage)/100);


                    //console.log($goal);
            $('#max').text($totale_massimo);
            $('#goal').text($goal);
            $('#max2').text($totale_massimo);
            $('#cico_threshold').val($goal);
            $('#cico_tmpData').val($percentage);



            rows=e.currentTarget.value;

            /*        document.getElementById("tabella").innerHTML="";
                    for (var i = 0; i < e.currentTarget.value; i++) {
                        $str= "  <div class=\"row\">\n" +
                            "        <div class=\"col-6 col-sm-2\">"+(i+1)+"</div>\n";

                    for (var j = 0; j < expectations.length; j++) {
                        $('#colonna').append("        <div id='col"+ j +"' class=\"col-6 col-sm-2\"></div>\n" +
                            "    </div>");
                        $str=$str+
                            "        <div class=\"col-6 col-sm-2\"><!-- Default inline 1-->\n" +
                            "<div class=\"custom-control custom-radio custom-control-inline\">\n" +
                            "  <input type=\"radio\" class=\"custom-control-input\" id=\"1defaultInline"+i+j+"\" name=\"inlineDefaultRadiosExample"+i+j+"\">\n" +
                            "  <label class=\"custom-control-label\" for=\"1defaultInline"+i+j+"\">1</label>\n" +
                            "</div>\n" +
                            "\n" +
                            "<!-- Default inline 2-->\n" +
                            "<div class=\"custom-control custom-radio custom-control-inline\">\n" +
                            "  <input type=\"radio\" class=\"custom-control-input\" id=\"2defaultInline"+i+j+"\" name=\"inlineDefaultRadiosExample"+i+j+"\">\n" +
                            "  <label class=\"custom-control-label\" for=\"2defaultInline"+i+j+"\">2</label>\n" +
                            "</div>\n" +
                            "\n" +
                            "<!-- Default inline 3-->\n" +
                            "<div class=\"custom-control custom-radio custom-control-inline\">\n" +
                            "  <input type=\"radio\" class=\"custom-control-input\" id=\"3defaultInline"+i+j+"\" name=\"inlineDefaultRadiosExample"+i+j+"\">\n" +
                            "  <label class=\"custom-control-label\" for=\"3defaultInline"+i+j+"\">3</label>\n" +
                            "</div></div>\n";

                        }

                           $str=$str+ "        <div id='tot"+ i +"' class=\"col-6 col-sm-2\"></div>\n" +
                            "    </div>";

                        $('#tabella').append($str);
                    }*/
                });


            $var2.on('change', function(e) {

               // $('.thresholds').remove();
                $('#thresholds2').html('');
                for (var i = 0; i < e.currentTarget.value; i++) {
                    addTagForm($collectionHolder);
                }
            });




          /*  $('form').on('submit', function (e) {
               // e.preventDefault();

                $('#cico_tmpData').val(totCol);


            });

            $('#cico_fillInDate').pickadate({
                format: 'd mmmm yyyy',
                today: 'Today',
                clear: 'Clear selection',
                close: 'Cancel',

            });
*/
        });



    function addTagForm($collectionHolder) {


        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

      //  console.log(prototype);

        // get the new index
        var index = $collectionHolder.data('index');



        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        $('#thresholds2').append(newForm);

    }

        //bisogna differenziare il totale di ogni riga
       /*
       for(var i=0; i<expectations.length; i++){
            $('#tabella').on('change', "input[id*='defaultInline"+ i +"']", function(){
                    console.log($(this).next().text());
                    $("div[id^='tot"+ i +"']").append($(this).next().text());
            });
        }*/

       //totRow = 0;
       //totCol = 0;




           //console.log(selectorName.substr(selectorName.length - 1, 1));
        //  $('#col' + selectorName.substr(selectorName.length - 1, 1)).text(totCol);

        //$('#colonna').text(totCol);


           /* funziona
           $('div[id*=tot]').each(function(){
               partialTotal = parseInt($(this).text());

               totSum = (isNaN(partialTotal)) ? totSum : totSum + partialTotal;

               $('#sumSpan').text(totSum);
           });*/




    </script>

{% endblock %}