{% extends 'base.html.twig' %}

{% block title %}CICO{% endblock title %}

{% block stylesheets %}
    {{ parent() }}


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >

{% endblock %}
{% block main %}


    {% if cico.matrix is not empty %}
        <div class="container-fluid" >

        <!--Section: Inputs-->
        <section class="section card mb-5">
            <div class="card-body text-center">

                <!--Section heading-->
                <h1 class=" text-center font-weight-bold mb-3" style="color: #714275;" >Check-in/Check-out</h1>

                <h6 class="text-center my-5 h3" style="color:#4d87ec">{{ matrix.motto }} </h6>

                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4">
                <h5>Student:{{ form_row(form.student) }}
                </h5>

                    </div>
                    <div class="col-md-4"></div>
                <div id="goals" class="col-md-4"><h4>Your Goal is <span id="goal"></span>/<span id="max2"></span></h4></div>
                </div>

   <div class="row">
       <div class="col-md-6">

           <input type="range"  value="80" min="0" max="100" />

       </div>
   </div>



        <div class="row">
            <div class="col-6">
                {{ form_widget(form.periodNumber) }}
                {{ form_label(form.periodNumber) }}
            </div>
                {{ form_row(form.threshold) }}
                {{ form_row(form.tmpData) }}
        </div>

    <div id="header" class="d-none"> <div class="row">
    <div class="col-6 col-sm-2"> <h4>Periods</h4> </div>
            {% for expectation in matrix.expectationTags %}
     <div  class="expectations col-6 col-sm-2"><h4> {{ expectation.name }} </h4></div>
        {% endfor %}
        <div class="col-6 col-sm-2"> <h4>Total</h4> </div>
        </div>
        </div>
    <div id="tabella"></div>

        <div class="row">
            <div class="col-md-6 mb-6">
            {{ form_widget(form.numberOfThresholds) }}
            {{ form_label(form.numberOfThresholds) }}
            </div>

             <div id="threshold" class="thresholds" data-index="0" data-prototype="{{ form_widget(form.cicoThresholds.vars.prototype)|e('html_attr') }}">
             </div>

            <div id="thresholds2" class="col-md-6 mb-6">
                    {% for threshold in form.cicoThresholds %}
                    {{ form_row(threshold.threshold) }}
                    {{ form_row(threshold.value) }}
                {% endfor %}</div>
        </div>


    <div class="row">

        <div id="success" class="col-6 col-sm-2"></div>


          <div class="col-sm-10">{{ form_row(form.submit)}}</div>

    </div>

            </div>
        </section>
 </div>
 {% else %}

     <div class="container-fluid">

         <!--Section: Inputs-->
         <section class="section card mb-5">

             <div class="card-body">

                 <!--Section heading-->
                 <h1 class="text-center my-5 h1">Check-in/Check-out </h1>
                 <h4 class="text-center my-5 h1">Expectations Matrix not defined </h4>

             </div>
         </section>
     </div>
 {% endif %}
    <div id="colonna"></div>
    {{ form_row(form._token) }}
  {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
    var rows;
    var $collectionHolder;

    $(document).ready( function() {
        $('.mdb-select').material_select();

            $var= $('#cico_periodNumber');
            $var2= $('#cico_numberOfThresholds');
           // $var3= $('#range');
            $exp = $(".expectations");

            $collectionHolder = $('.thresholds');
            console.log($collectionHolder);


           // $('#range').append($('#customRange1').val());


        $var.on('change', function(e) {
                    // alert("onchange event");
            $totale_massimo=3*$exp.length*e.currentTarget.value;



            $percentage= parseInt($('#customRange1').val());



            $goal = Math.round(($totale_massimo*$percentage)/100);


                    //console.log($goal);
            $('#max').text($totale_massimo);
            $('#goal').text($goal);
            $('#max2').text($totale_massimo);
            $('#cico_threshold').val($goal);
            $('#cico_tmpData').val($percentage);



            rows=e.currentTarget.value;

                           });


            $var2.on('change', function(e) {

               // $('.thresholds').remove();
                $('#thresholds2').html('');
                for (var i = 0; i < e.currentTarget.value; i++) {
                    addTagForm($collectionHolder);
                }
            });


        });



    function addTagForm($collectionHolder) {


        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

      //  console.log(prototype);

        // get the new index
        var index = $collectionHolder.data('index');



        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        $('#thresholds2').append(newForm);

    }
        


    </script>

{% endblock %}