{% extends 'base.html.twig' %}

{% block title %}CICO{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >

{% endblock %}

{% block main %}
 <div class="container-fluid">

        <!--Section: Inputs-->
        <section class="section card mb-5">

            <div class="card-body">

                <!--Section heading-->
                <h1 class="text-center my-5 h1">Check-In/Check-out</h1>

    <h2>Student: BBFADD8D</h2>

    <h3>Motto:<i>{{ matrix.motto }}</i> </h3>


    {{ form_start(form) }}

    {% set sessionIndex = (form.sessions | length) -1 %}

   {% for lastSessionIndex in 0..sessionIndex %}

    <div class="{% if loop.index0 != sessionIndex %}d-none{% endif %}">

    <div class="row">
        <div class="col-6 col-sm-4">
            <div class="md-form">
                {{ form_row(form.sessions[lastSessionIndex].fillInDate) }}
            </div>
        </div>
    </div>

    <div id="goals" class="col-6 col-sm-4"><h4>Your Goal is {{ cico.threshold }} /<span id="max2">{{ 3 * ( (cico.matrix.expectationTags | length ) * (cico.periodNumber)) }} </span></h4></div>

    {% if(cico.matrix.expectationTags | length ) == 1 %}
        {% set sizeColumn = 4 %}
    {% endif %}

    {% if(cico.matrix.expectationTags | length ) == 2 %}
        {% set sizeColumn = 3 %}
    {% endif %}

    {% if(cico.matrix.expectationTags | length ) == 3 %}
        {% set sizeColumn = 3 %}
    {% endif %}

    {% if(cico.matrix.expectationTags | length ) == 4 %}
        {% set sizeColumn = 2 %}
    {% endif %}

    {% if(cico.matrix.expectationTags | length ) == 5 %}
        {% set sizeColumn = 1 %}
    {% endif %}

    {% set formDataIndex = 0 %}

    <div class="row">
        <div class="col-{{ sizeColumn }} col-sm-{{ sizeColumn }}">
            Periods
        </div>

        {% for expectation in cico.matrix.expectationTags %}
            <div class="col-{{ sizeColumn }} col-sm-{{ sizeColumn }}">
                {{ expectation }}
            </div>
        {% endfor %}
    </div>


    {% for period in 1..cico.periodNumber %}
        <div class="row">
            <div class="col-{{ sizeColumn }} col-sm-{{ sizeColumn }}">
                {{ loop.index }}
            </div>

            {% for expectation in 1..cico.matrix.expectationTags | length %}
                <div class="col-{{ sizeColumn }} col-sm-{{ sizeColumn }}">
                    {{ form_widget(form.sessions[lastSessionIndex].data[formDataIndex].value) }}

                    <div class="d-none">
                        {{ form_widget(form.sessions[lastSessionIndex].data[formDataIndex].expectation) }}
                    </div>
                </div>

                {% set formDataIndex = formDataIndex + 1 %}
           {% endfor %}
        </div>
    {% endfor %}
       </div>
   {% endfor %}





    <div id="tabella"></div>

    <div class="row">
        <div id="totals" class="col-6 col-sm-4"> <h4>Total:
                <span id="sumSpan"></span>/{{ (cico.periodNumber) * (cico.matrix.expectationTags | length )*3 }}
                <span id="max"></span></h4>
        </div>
        <div id="success" class="col-6 col-sm-2"></div>
        <div class="col-sm-10">{{ form_row(form.submit)}}</div>
        <div class="col-sm-10">{{ form_row(form.submitAndAdd)}}</div>
    </div>

    <div id="colonna"></div>

    <div class="d-none">
    {{ form_row(form.periodNumber) }}
    {{ form_row(form.threshold) }}
    {{ form_row(form.cicoThresholds) }}
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

            </div>
        </section>
 </div>

{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
        var rows;
        $(document).ready( function() {
            $var= $('#cico_periodNumber');
            $exp = document.getElementById("expectations");
            rows=2;
        });

        lastSessionIndex = $("input[id*='fillInDate']").length - 1;

        $("input[id*='fillInDate']").pickadate({
            format: 'yyyy-mm-dd',
            today: 'Today',
            clear: 'Clear selection',
            close: 'Cancel'
        });


        totRow = 0;

        $('input[type=radio]').on('change', function(){

            total = 0;

            $('input[type=radio]:checked').each(function() {
                if($(this).is(":visible")) {
                    total += parseInt($(this).val());
                }
            });

            $('#sumSpan').text(total);




        });
    </script>

{% endblock %}