{% extends 'base.html.twig' %}

{% block title %}List of Matrix{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >

{% endblock %}

{% block main %}
<div class="container-fluid">

        <!--Section: Analytical panel-->
        <section class="mb-5">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Section: Chart-->
                <section>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-12 mr-0">

                            <!--Card image-->
                            <div class="view view-cascade gradient-card-header primary-color">
                                <h4 class="h4-responsive mb-0 font-weight-bold">Matrix List</h4>
                            </div>
                            <!--/Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade pb-0 ">
    {% for m in matrix %}
        {% if loop.index != 0 %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1 ">#{{ m.id }}</div>
            <div class="col-md-5 ">{{ m.motto }}</div>

            <div class="col-md-3 "> <a href="{{ path('matrix_list', {'id': m.id}) }}">
                    <i class="fa fa-eye"></i>
                </a><a class="delete" data-toggle="modal" data-url="{{ path('matrix_delete', {'id': m.id}) }}" href="#basic">
                    <i class="fa fa-trash"></i>
                </a></div>


        </div>
            {% else %}
            No matrix created
            {% endif %}
    {% endfor %}
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--Grid column-->


                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: fChart-->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6 "><a href="{{ path('matrix', {'schoolCode': app.user.schoolCode}) }}">

                            <button type="button" class="btn btn-default">Create a New Matrix</button>
                        </a>
                    </div>
                    <div class="col-md-2 "></div>
                </div>
            </div>
            <!--/.Card-->

        </section>
</div>


    <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body"> Are you sure you want to delete this matrix?</div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button id="confirm-delete" type="button" class="btn red" data-url="">Yes, delete</button>
                </div>
            </div>
        </div>
    </div>


            {% endblock %}

{% block javascripts %}
    {{ parent () }}

        <script>
        $('.delete').click(function( event ) {
            $('#confirm-delete').data('url', $(this).data('url'));
        });
        $('#confirm-delete').click(function( event ) {
            window.location.href = $('#confirm-delete').data('url');
        });
    </script>

{% endblock %}