{% extends 'base.html.twig' %}

{% block title %}Matrix of Expectations{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }}>
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }}>
    <!-- Your custom styles (optional) -->

    <style>
        ul li {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}

{% block main %}


    <div class="container-fluid">

        <!--Section: Analytical panel-->
        <section class="mb-5">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Section: Chart-->
                <section>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-12 mr-0">

                            <!--Card image-->
                            <div class="view view-cascade gradient-card-header primary-color">
                                <h4 class="h4-responsive mb-0 font-weight-bold">{{ matrix.motto }}</h4>
                            </div>
                            <!--/Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade pb-0">


                                <div class="row">

                                    {% if(matrix.expectationTags | length ) == 1 %}
                                        {% set sizeFirstColumn = 8 %}
                                        {% set sizeColumn = 4 %}
                                    {% endif %}

                                    {% if(matrix.expectationTags | length ) == 2 %}
                                        {% set sizeFirstColumn = 6 %}
                                        {% set sizeColumn = 3 %}
                                    {% endif %}

                                    {% if(matrix.expectationTags | length ) == 3 %}
                                        {% set sizeFirstColumn = 3 %}
                                        {% set sizeColumn = 3 %}
                                    {% endif %}

                                    {% if(matrix.expectationTags | length ) == 4 %}
                                        {% set sizeFirstColumn = 4 %}
                                        {% set sizeColumn = 2 %}
                                    {% endif %}

                                    {% if(matrix.expectationTags | length ) == 5 %}
                                        {% set sizeFirstColumn = 7 %}
                                        {% set sizeColumn = 1 %}
                                    {% endif %}

                                    <div class="col-{{ sizeFirstColumn }}"><h4 class="font-weight-bold black-text"> Expectations & Locations</h4></div>

                                    {% for expectation in matrix.expectationTags %}
                                        <div class="col-{{ sizeColumn }} col-sm-{{ sizeColumn }}"> <h8 class="font-weight-bold dark-grey-text"> {{ expectation.name }}</h8> </div>
                                    {% endfor %}

                                </div>

                                {% for location in matrix.locationTags %}
                                    <div class="row">

                                        <div class="col-{{ sizeFirstColumn }} col-sm-{{ sizeFirstColumn }}"> <h8 class="font-weight-bold dark-grey-text">{{ location.name }}</h8> </div>

                                        {% for expectation in matrix.expectationTags %}
                                            <div class="col-{{ sizeColumn }} col-sm-{{ sizeColumn }}" style="font-size: large" >
                                                {{ render(controller(
                                                    'App\\Controller\\MatrixController::getBehaviorsByExpectationAndLocationAction',
                                                    {
                                                        'expectationTag': expectation,
                                                        'locationTag': location
                                                    }
                                                )) }}
                                            </div>
                                        {% endfor %}

                                    </div>


                                {% endfor %}



                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--Grid column-->


                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Chart-->

            </div>
            <!--/.Card-->

        </section>
        <!--Section: Analytical panel-->


    </div>



{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
        $(document).ready(function () {
            var $numBehavior = jQuery("[id^=matrix_behaviorTags][id $=behavior]").length;
            var $numExpectation = jQuery("[id^=matrix_expectationTags][id $=name]").length;
            var $numLocation = jQuery("[id^=matrix_locationTags][id $=name]").length;


            //  $('#newPage').append("<h1>" + $('#matrix_motto').val() + "</h1>");

            /*  $('#newPage').append("<div id='j' class=\"row\">\n" +
                  "            <div class=\"col-6 col-sm-4\">Expectation &Locations</div>\n" +
                  "        </div>\n");



              for (j=0; j<$numExpectation;j++) {
                  $('#j').append("<div  class=\"col-6 col-sm-4\">" + $('#matrix_expectationTags_' + j + '_name').val() + "</div>");
                  //stampa behavior
                  alert($('#matrix_behaviorTags_' + j + '_behavior').val());
              }

              for (k=0; k<$numLocation;k++) {
                  $('#newPage').append("<div class=\"row\"><div class=\"col-6 col-sm-4\">" +  $('#matrix_locationTags_' + k + '_name').val() + "</div></div>");
                 // $('#newPage').append("<div>" + $('#matrix_locationTags_' + k + '_name').val() + "</div>");
              } */
            /*
                    for (i=0; i<$numBehavior;i++) {
                        $('#newPage').append("<div>" + $('#matrix_behaviorTags_' + i + '_behavior').val() + "</div>");
                    }*/

        });


    </script>


{% endblock %}