{% extends 'base.html.twig' %}

{% block title %}Matrix of Expectations{% endblock title %}

{% block main %}

    <div class="container-fluid">

        <!--Section: Inputs-->
        <section class="section card mb-5">

            <div class="card-body">

                <!--Section heading-->
                <h1 class="text-center my-5 h1">Expectation Matrix</h1>

    <div id="page">
        {{ form_start(form) }}
        <div class="d-none">
            {{ form_widget(form.motto)}}
            {{ form_widget(form.locationTags)}}
            {{ form_widget(form.expectationTags)}}

        </div>


        <!-- numero nello stepper sempre 1 -->

        <ul class="stepper parallel" data-behavior-tags-number="{{ form.behaviorTags | length }}" data-prototype=" {{ form_widget(form.behaviorTags.vars.prototype)|e }}">
            {% set i = 0 %}
            {% for formBehaviorTag in form.behaviorTags %}
                <li class="step {{ (loop.index0 == 0) ? 'active' : '' }}">
                    <div data-step-label="Add a behavior" class="step-title waves-effect waves-dark">
                        {{ formBehaviorTag.expectation.vars.data.name }} in {{ formBehaviorTag.location.vars.data.name }}
                    </div>

                    <div class="step-new-content">
                        <div class="row">
                            <div class="md-form col-8 ml-auto">
                                {{ form_row(formBehaviorTag.behavior) }}
                                <div class="d-none">{{ form_row(formBehaviorTag.location) }}</div>
                                <div class="d-none">{{ form_row(formBehaviorTag.expectation) }}</div>
                            </div>
                            <div class="md-form col-2 ml-auto">
                                <button id="plus-{{ i }}" class="btn btn-success btn-add" data-element-index="{{ i }}" type="button">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="step-actions">
                            {% set buttons = '<button class="waves-effect waves-dark btn-sm btn btn-primary next-step">CONTINUE</button>
                                              <button class="waves-effect waves-dark btn-sm btn btn-secondary previous-step">BACK</button>'
                            %}

                            {% if(loop.index0 == 0) %}
                                {% set buttons = '<button class="waves-effect waves-dark btn btn-sm btn-primary next-step">CONTINUE</button>' %}
                            {% endif %}

                            {% if(loop.index == form.behaviorTags | length) %}
                                {% set buttons = form_row(form.submit) %}
                            {% endif %}

                            {{ buttons | raw }}
                        </div>
                    </div>
                </li>
                {% set i = i + 1 %}
            {% endfor %}
        </ul>
        <div id="newPage" class="cont"></div>


        {{ form_end(form, {'render_rest': true}) }}
    </div>


            </div>
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    <!-- Stepper CSS -->
<link rel="stylesheet" href={{ asset('css/stepper.min.css') }} >


{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
        $(document).ready( function() {

            /*
            $collectionHolder3 = $('ul.behaviorTags');

            $collectionHolder3.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
            var $numButton = $('.btn-success').length;
            for (i=0; i<$numButton; i++) {
                $addTagButton=$('#plus-'+ i);
                $collectionHolder3.append($newLinkLi);
                $collectionHolder3.data('index', $collectionHolder3.find(':input').length);

                $addTagButton.on('click', function (e) {
                    var formIndex = this.id.split("-")[1];
                    var lastLocationId = $('#matrix_behaviorTags_' + formIndex + '_location').val();
                    var lastExpectationId = $('#matrix_behaviorTags_' + formIndex + '_expectation').val();

                    // add a new tag form (see next code block)
                    addTagForm($collectionHolder3, $newLinkLi, lastExpectationId, lastLocationId);
                });
            }*/


            $('.btn-add').on('click', function(e){

                formIndex = $(this).data('element-index');

                var lastLocationId = $('#matrix_behaviorTags_' + formIndex + '_location').val();
                var lastExpectationId = $('#matrix_behaviorTags_' + formIndex + '_expectation').val();

                addTagForm($(this), lastExpectationId, lastLocationId);

            });

            $('.stepper').mdbStepper();


        });

        function addTagForm(element, lastExpectationId, lastLocationId)
        {
            var prototype = $('ul.stepper').data('prototype');
            var index = $('ul.stepper').data('behavior-tags-number');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            $('ul.stepper').data('behavior-tags-number', index + 1);

            var $newFormRow = $('<div class="row">\n' +
                '                            <div class="md-form col-8 ml-auto">\n' + newForm +
                '                            </div>\n' +
                '                        </div>');

            $(element).parent().parent().after($newFormRow);
            addTagFormDeleteLink(index);

            $('#matrix_behaviorTags_' + index + '_expectation').parent().hide();
            $('#matrix_behaviorTags_' + index + '_location').parent().hide();


            $('#matrix_behaviorTags_' + index + '_expectation').val(lastExpectationId);
            $('#matrix_behaviorTags_' + index + '_location').val(lastLocationId);

        }

       function addTagFormDeleteLink(index) {
           var $removeFormA = $('<div class="md-form col-4 ml-auto"><span class="input-group-btn">\n' +
               '                               <button id="minus" class="btn btn-danger btn-add" type="button">\n' +
               '                                   - ' +
               '                               </button>\n' +
               '                           </span></div>');

           $('#matrix_behaviorTags_' + index + '_behavior').parent().parent().parent().after($removeFormA);

           $removeFormA.on('click', function(e) {
               // prevent the link from creating a "#" on the URL
               e.preventDefault();

               // remove the li for the tag form
               $(this).parent().remove();
           });
       }
    </script>

    <!-- Stepper JavaScript -->
    <script type="text/javascript" src="{{ asset('js/stepper.min.js') }}"></script>

{% endblock %}