{% extends 'base.html.twig' %}
{% block title %}Student{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >

{% endblock %}


{% block main %}
    <div class="row">
<div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="card text-center">
        <div class="card-header">
            Registration
        </div>
        <div class="card-body">
            <h5 class="card-title">School successfully added!</h5>
            <p class="card-text">Thank you for your subscription, you'll soon receive a mail with your Personal School Code!</p>
            <a href="{{ path("app_login") }}"><button type="button" class="btn btn-primary btn-sm">Login</button></a>
        </div>
        <div class="card-footer text-muted">
            Registration
        </div>
    </div>
    </div>
    <div class="col-md-3"></div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent () }}
    <script>

    </script>
{% endblock %}