{% extends 'base.html.twig' %}

{% block title %}Access Data Generator{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->


    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/mdb.min.css') }} >
    <link rel="stylesheet" href={{ asset('css/style.css') }} >

{% endblock %}

{% block main %}

    <div class="container-fluid">

        <!--Section: Inputs-->
        <section class="section card mb-5">

            <div class="card-body">

                <!--Section heading-->
                <h1 class="text-center my-5 h1">Student Code Generator</h1>

                <h5 class="pb-5">Please insert the number of students in order to generate corresponding codes:</h5>


    {{ form_start(form) }}

    <div class="row">
    {{ form_row(form.numberOfCodes) }}
    </div>
    <div class="row">
        <div class="col-md-3">{{ form_row(form.submit) }}</div>
        <div class="col-md-3"></div>

        <div class="col-md-4"><button id="showButton" class="btn blue">Show Inserted Codes</button></div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    <div class="row">
    </div>


<div id="codes">
    {% for i in  studentdata %}
        <div class="row">
            <div class="col">
                <h4>Student</h4>
                {{ i.code}}
                {{ i.nickname }}

            </div>
            <div class="col">
                <img src="{{ i.qrCode}}">
            </div>
            <div class="col">
                <h4>Person In Charge</h4>
                {{ i.personInCharge.code }}
            </div>
            <div class="col">
                <img src="{{ i.personInCharge.qrCode }}">

            </div>
        </div>
    {% endfor %}
</div>

            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent () }}
    <script>
        $(document).ready( function() {

        $("#showButton").on('click', function(e)
        {
            e.preventDefault();

            $("#codes").toggle();
            $(this).text(function(i, text){
                return text === "Show Inserted Codes" ? "Hide Codes" : "Show Inserted Codes";
            })        })
        });


    </script>

{% endblock %}