{% extends 'base.html.twig' %}

{% block title %}Matrix of Expectations{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.css') }} >
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href={{ asset('css/mdb.css') }} >
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href={{ asset('css/style.css') }} >
    {% endblock %}

{% block body %}

    {% for expectation in matrix.expectationTags %}
        {{ expectation.name }}

        {% for location in matrix.locationTags %}
            {{ location.name }}

            {% for behavior in matrix.behaviorTags %}
                {% if behavior.expectation == expectation and behavior.location == location %}
                    {{ behavior.behavior }}
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endfor %}



    {{ form_start(form) }}


    <div id="newPage"> </div>
    {{ form_end(form, {'render_rest': true}) }}

{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
    $(document).ready( function() {
        var $numBehavior = jQuery("[id^=matrix_behaviorTags][id $=behavior]").length;
        var $numExpectation = jQuery("[id^=matrix_expectationTags][id $=name]").length;
        var $numLocation = jQuery("[id^=matrix_locationTags][id $=name]").length;


        $('#newPage').append("<h1>" + $('#matrix_motto').val() + "</h1>");

      /*  $('#newPage').append("<div id='j' class=\"row\">\n" +
            "            <div class=\"col-6 col-sm-4\">Expectation &Locations</div>\n" +
            "        </div>\n");



        for (j=0; j<$numExpectation;j++) {
            $('#j').append("<div  class=\"col-6 col-sm-4\">" + $('#matrix_expectationTags_' + j + '_name').val() + "</div>");
            //stampa behavior
            alert($('#matrix_behaviorTags_' + j + '_behavior').val());
        }

        for (k=0; k<$numLocation;k++) {
            $('#newPage').append("<div class=\"row\"><div class=\"col-6 col-sm-4\">" +  $('#matrix_locationTags_' + k + '_name').val() + "</div></div>");
           // $('#newPage').append("<div>" + $('#matrix_locationTags_' + k + '_name').val() + "</div>");
        } */
/*
        for (i=0; i<$numBehavior;i++) {
            $('#newPage').append("<div>" + $('#matrix_behaviorTags_' + i + '_behavior').val() + "</div>");
        }*/

    });
    </script>

{% endblock %}